<section id="mileStonesSlider">
	
	<ul class="slideSectionContainer">
		
		<li class="milestoneSegment" ng-click="showCopy(0)">
			<img src="images/color-story/infoSlider/infoSlider-gulf.jpg">
			<div class="textarea">
				<h4>Technicolor Process #1</h4>
				<h5> 1917</h5>
				<p>Technicolor Process #1 is used for the first time on the film <i>The Gulf Between</i></p>
			</div>	
		</li>

		<li class="milestoneSegment" ng-click="showCopy(1)">
			<img src="images/color-story/infoSlider/infoSlider-lab.jpg">
			<div class="textarea">
				<h4>1st Hollywood Laboratory</h4>
				<h5> 1923</h5>
				<p>Technicolor’s first Hollywood Laboratory established, the largest of its time devoted to color</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(2)">
			<img src="images/color-story/infoSlider/infoSlider-symphony.jpg">
			<div class="textarea">
				<h4>First animated theatrical cartoon short serviced in full color</h4>
				<h5> 1932</h5>
				<p>Walt Disney’s <i>Flower & Trees.</i> The project later won Disney's first Oscar & Technicolor receives its 
				first Scientific & Technical Achievement Academy Award for color cartoon process</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(3)">
			<img src="images/color-story/infoSlider/infoSlider-taraScarlett.jpg">
			<div class="textarea">
				<h4>Gone With The Wind</h4>
				<h5> 1939</h5>
				<p><i>Gone With The Wind</i> was first full feature length motion picture in Technicolor to be 
				awarded the Academy Award for Color Cinematography</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(4)">
			<img src="images/color-story/infoSlider/infoSlider-oz.jpg">
			<div class="textarea">
				<h4>The Wizard of Oz</h4>
				<h5> 1939</h5>
				<p><i>The Wizard of Oz.</i>  First three strip IB dye-transfer color process is used in this historic film 
				and Dr. Herbert Kalmus is awarded a special Oscar for "successfully bringing three-color 
				feature production to the screen"</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(5)">
			<img src="images/color-story/infoSlider/infoSlider-letterpress.jpg">
			<div class="textarea">
				<h4>Academy “Sci-Tech” Award for Technicolor RATS innovation</h4>
				<h5> 2005</h5>
				<p>Award for RATS (Real Time Answer Print Timing) for laboratory color pre-visualization</p>
			</div>
		</li>
		<li class="milestoneSegment" ng-click="showCopy(6)">
			<img src="images/color-story/infoSlider/infoSlider-ycm.jpg">
			<div class="textarea">
				<h4>Academy "Sci-Tech" Award for Technicolor "digital YCM" color archival process</h4>
				<h5> 2006</h5>
				<!-- <p>Academy “Sci-Tech” Award for Technicolor “digital YCM” color archival process/p> -->
			</div>
		</li>
		<li class="milestoneSegment" ng-click="showCopy(7)">
			<img src="images/color-story/infoSlider/infoSlider-ibc.jpg">
			<div class="textarea">
				<h4>Technicolor wins IBC Innovation Award for development of the company's first DP lights 
				system</h4>
				<h5> 2006</h5>
				<!-- <p>Technicolor wins IBC Innovation Award for development of the company’s first DP lights 
				system</p> -->
			</div>
		</li>
		<li class="milestoneSegment" ng-click="showCopy(8)">
			<img src="images/color-story/infoSlider/infoSlider-ASCCD.jpg">
			<div class="textarea">
				<h4> Color Scientists awarded Academy Sci-tech Award</h4>
				<h5> 2014</h5>
				<p>Technicolor Color Scientists awarded Academy Sci-tech Award for contributions to the 
				American Society of Cinematographer’s Color Decision List</p>
			</div>
		</li>

	</ul>


	<article class="mileSonesNav">
		
		<div class="sliderBtn slideLeft">
			<i class="fa fa-chevron-left fa-lg"></i>
		</div>

		<div class="sliderBtn slideRight">
			<i class="fa fa-chevron-right"></i>
		</div>

	</article>

</section>