<section id="gameSlider" >
	
	<ul class="slideSectionContainer">
		
		<li class="gameSegment" ng-click="highlight(0)">
			<img src="images/empower/GA_Call_Of_Duty.jpg">
		</li>

		<li class="gameSegment" ng-click="highlight(1)">
			<img src="images/empower/GA_fifa.jpg">
		</li>

		<li class="gameSegment" ng-click="highlight(2)">
			<img src="images/empower/GA_Grand_Theft_Auto_V.jpg">
		</li>

		<li class="gameSegment" ng-click="highlight(3)">
			<img src="images/empower/GA_metal_gear.jpg">
		</li>

	</ul>

</section>