<section id="mileStonesSlider">
	
	<ul class="slideSectionContainer">
		
		<li class="milestoneSegment" ng-click="showCopy(0)">
			<img src="images/innovators/patents-milestones/1944_Optical_Printer.jpg">
			<div class="textarea">
				<h4>Introduction of Optical Printer - 1944</h4>
				<p>Optical Printer introduced by Technicolor
				to enable fades, dissolves and special effects to
				be printed in color</p>
			</div>	
		</li>

		<li class="milestoneSegment" ng-click="showCopy(1)">
			<img src="images/innovators/patents-milestones/1955_Color TV.jpg">
			<div class="textarea">
				<h4>RCA Corners Color TV Market - 1953-54</h4>
				<p>RCA's all-electronic, compatible TV
				system was declared the US standard in
				December 1953 (known as NTSC), and 1954 saw
				the first RCA Color TV in market (RCA/Thomson)</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(2)">
			<img src="images/innovators/patents-milestones/1988_MPEG.jpg">
			<div class="textarea">
				<h4>Technicolor founds MPEG - 1988</h4>
				<p>Introducing MPEG</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(3)">
			<img src="images/innovators/patents-milestones/1993_Satalite.jpg">
			<div class="textarea">
				<h4>Satellite Broadcasting - 1993</h4>
				<p>Technicolor
				enables satellite broadcasters to transmit
				hundreds of channels to an 18” rooftop dish
				antenna throughout the continental US by
				adapting the MPEG video compression</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(4)">
			<img src="images/innovators/patents-milestones/1993-1995_MP3_logo.jpg">
			<div class="textarea">
				<h4>MP3 Licensing program Launched - 1993</h4>
				<p>The MP3 audio format, which Technicolor
				invented, becomes an ISO standard and in 1995
				we launched the MP3 Licensing program with
				Fraunhofer Institute, fueling MP3's dramatic
				expansion in the distribution of music and
				internet broadcasting</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(5)">
			<img src="images/innovators/patents-milestones/1996_MPEG2.jpg">
			<div class="textarea">
				<h4>MPEG2 standard is introduced to the market and supported by Technicolor - 1996</h4>
				<p>MPEG2 standard is introduced to the
				market and supported by Technicolor</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(6)">
			<img src="images/innovators/patents-milestones/2006_Long-distance-IP-network.jpg">
			<div class="textarea">
				<h4>World’s first real-time streaming of uncompressed digital 4K movie over long distance IP network - 2006</h4>
				<p>Creating the future of streaming movies.</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(7)">
			<img src="images/innovators/patents-milestones/2014_Qeo_Technology.jpg">
			<div class="textarea">
				<h4>Technicolor introduces Qeo Technology - 2014</h4>
				<p>Technicolor brings Qeo Technology, a
				revolutionary software offering consumer
				device manufacturers, developers and service
				providers a common language to offer a truly
				operable Connected Life</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(8)">
			<img src="images/innovators/patents-milestones/2014_ALLSEEN.jpg">
			<div class="textarea">
				<h4>Technicolor becomes Premier level member of the AllSeen Alliance - 2014</h4>
				<p>Alliance further unifies the Internet of Everything (IoE) ecosystem</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(9)">
			<img src="images/innovators/patents-milestones/2014_UHD.jpg">
			<div class="textarea">
				<h4>Technicolor becomes founding member of the UHD Alliance - 2014</h4>
				<p>Technicolor establish premium quality standards across content and
				devices</p>
			</div>
		</li>
	</ul>

	<article class="mileSonesNav">
		
		<div class="sliderBtn slideLeft">
			<i class="fa fa-chevron-left fa-lg"></i>
		</div>

		<div class="sliderBtn slideRight">
			<i class="fa fa-chevron-right"></i>
		</div>

	</article>

</section>
