<section id="mileStonesSlider">
	
	<ul class="slideSectionContainer">
		
		<li class="milestoneSegment" ng-click="showCopy(0)">
			<img src="images/homebeyond/infoSlider/infoSlider-firstVHS.jpg">
			<div class="textarea">
				<h4>Technicolor produces first VHS Videocassette</h4>
				<h5> 1981</h5>
			</div>	
		</li>

		<li class="milestoneSegment" ng-click="showCopy(1)">
			<img src="images/homebeyond/infoSlider/infoSlider-setTop.jpg">
			<div class="textarea">
				<h4>First digital set-top box to market</h4>
				<h5> 1994</h5>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(2)">
			<img src="images/homebeyond/infoSlider/infoSlider-firstDVD.jpg">
			<div class="textarea">
				<h4>Technicolor produces DVD-Video for launch of format</h4>
				<h5> 1996</h5>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(3)">
			<img src="images/homebeyond/infoSlider/infoSlider-usbmodem.jpg">
			<div class="textarea">
				<h4>First USB modem to market with 2.1 million sold</h4>
				<h5> 1999</h5>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(4)">
			<img src="images/homebeyond/infoSlider/infoSlider-shutterstock.jpg">
			<div class="textarea">
				<h4>First wireless ADSL router to market</h4>
				<h5> 2000</h5>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(5)">
			<img src="images/homebeyond/infoSlider/infoSlider-bluray.jpg">
			<div class="textarea">
				<h4>Founding member of Blu-ray Disc Association, establishing standard format for 
				Blu-ray discs.</h4>
				<h5> 2002</h5>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(6)">
			<img src="images/homebeyond/infoSlider/infoSlider-DVDset.jpg">
			<div class="textarea">
				<h4>Introduces first DVR set-top box to market</h4>
				<h5> 2002</h5>
			</div>
		</li>		

		<li class="milestoneSegment" ng-click="showCopy(7)">
			<img src="images/homebeyond/infoSlider/infoSlider-mpeg4.jpg">
			<div class="textarea">
				<h4>First HD MPEG4 set-top box to market</h4>
				<h5> 2004</h5>
			</div>
		</li>		

		<li class="milestoneSegment" ng-click="showCopy(8)">
			<img src="images/homebeyond/infoSlider/infoSlider-bluray2.jpg">
			<div class="textarea">
				<h4>Produces first Blu-ray Disc for Market launch of format</h4>
				<h5> 2006</h5>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(9)">
			<img src="images/homebeyond/infoSlider/infoSlider-getways.jpg">
			<div class="textarea">
				<h4>In October 100 million gateways were shipped</h4>
				<h5> 2010</h5>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(10)">
			<img src="images/homebeyond/infoSlider/infoSlider-mgo.jpg">
			<div class="textarea">
				<h4>Technicolor and DreamWorks Animation launch first personalized streaming video service 
				M-GO</h4>
				<h5> 2013</h5>
				<p>Secures deals with Intel, Samsung, Sony, Warner Bros. and Vizio</p>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(11)">
			<img src="images/homebeyond/infoSlider/infoSlider-4k.jpg">
			<div class="textarea">
				<h4>Technicolor introduces industry’s first "high-frame rate" 4K/UHD set top box</h4>
				<h5> 2014</h5>
			</div>
		</li>

		<li class="milestoneSegment" ng-click="showCopy(12)">
			<img src="images/homebeyond/infoSlider/infoSlider-ultraHD.jpg">
			<div class="textarea">
				<h4>M-GO, in partnership with Samsung UHD TVs, launches 1st Multi-Format 4K streaming 
				service</h4>
				<h5> 2014</h5>
				<p>Becomes one of the biggest and earliest suppliers of Ultra HD Hollywood content</p>
			</div>
		</li>			

		<li class="milestoneSegment" ng-click="showCopy(13)">
			<img src="images/homebeyond/infoSlider/infoSlider-ize.jpg">
			<div class="textarea">
				<h4>Technicolor receives 2015 CES Innovation Award for its digital life solution IZE (Connected 
				Home)</h4>
				<h5> 2015</h5>
			</div>
		</li>			

	</ul>

	<article class="mileSonesNav">
		
		<div class="sliderBtn slideLeft">
			<i class="fa fa-chevron-left fa-lg"></i>
		</div>

		<div class="sliderBtn slideRight">
			<i class="fa fa-chevron-right"></i>
		</div>

	</article>

</section>