
//Colors -----------------------------------------------------------
$primary-color: #075ca6; 
$secondary-color: #fce709; 
$tertiary-color: #999999; 
$shadow-color: #999999;

//Main Background
$background-top-gradent: #FBFBFB;
$background-bottom-gradent: #828c95;

//BreadCrumb progression color
$breadcrumb-not-complete: #075ca6;
$breadcrumb-complete: #7ac148;

//Fonts -----------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

$font-primary: 'PT Sans', sans-serif;
$font-secondary: 'PT Sans', sans-serif;

//Compass Default settings -----------------------------------------------------------
$default-border-radius: 3px;
$default-box-shadow-color: #000;
$default-text-shadow-blur: 5px;
$default-text-shadow-v-offset: 3px;


