
//Colors -----------------------------------------------------------
$primary-color: #f78348; 
$secondary-color: #03ade8; 
$tertiary-color: #999999; 
$shadow-color: #999999;

$primary-text-color: #23a6d5;


//Fonts -----------------------------------------------------------


$font-primary: 'Verlag A', 'Verlag B'; //this is the font font-family:

// Verlag Book
// font-weight: 400; 
// font-style: normal;

// Verlag Book Italic
// font-weight: 400; 
// font-style: italic;

// Verlag Bold
// font-weight: 700; 
// font-style: normal;

// Verlag Bold Italic
// font-weight: 700; 
// font-style: italic;

// Verlag Black
// font-weight: 800; 
// font-style: normal;

// Verlag Black Italic
// font-weight: 800; 
// font-style: italic;



//Compass Default settings -----------------------------------------------------------
$default-border-radius: 3px;
$default-box-shadow-color: #000;
$default-text-shadow-blur: 5px;
$default-text-shadow-v-offset: 3px;


