#homebeyond-init {
	.bg-containter.p2,
	.p1 .full-bg,
	.p1 .chapterNumber,
	.p1 .chapterTitle,
	.p1 .sectionText {
		opacity: 0;
		display: none;
	}
	#introPage1 {
		@include copyVerticleCenter(auto);
		min-height: 300px;
	}	
	#introPage2 {
		opacity: 0;
	}
	.opacityOverlay {
		background: rgba(0,0,0,0.17);
	}
}


#homebeyond-entertainment {
	#entertaimentPage2 {
		@include copyVerticleCenter(auto);
		// color: #000;
		.dash {
			// border-color: #000;
		}		
	}
	#entertaimentPage3 {
		@include copyVerticleCenter(auto);
	}
}



#homebeyond-digital-home {
	#digitalLifePage2, #digitalLifePage3, #digitalLifePage4 {
		@include copyVerticleCenter(auto);
	}
}

#homebeyond-gateways {
	#gatewaysPage2 {
		@include copyVerticleCenter(auto);
		.text-prominent {
			font-weight: 600;
			font-style: oblique;	
		}
	}
}


#homebeyond-distribution {
	#distributionPage2 {
		@include copyVerticleCenter(auto);
		img {
			width: 50%;
		}
	}
	#distributionPage3	{
		position: absolute;
		top: 0;
		left: 0;
		width: 45%;
		padding: 1.25%;		
	}
}
