#intro {
	-webkit-transform: translateZ(0);
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;

	section {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		opacity: 0;
	}

	.text {
		position: absolute;
		text-transform: uppercase;
		color: #FFF;
		font-size: 3.75em;
		font-family: $font-primary;
		font-weight: 800;
		font-style: normal;
	}

	.text-containter {
		position: relative;
		top: 35%;
		width: 885px;
		margin: auto;
	}

	.blurImg {
		opacity: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}

	#intro1 {
		display: block;
		-webkit-transform: translateZ(0);
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		background-color: rgba(47,187,234,1);
		.future-text {
			opacity: 0;
			position: relative;
			left: 120px;
		}
		.past-text {
			opacity: 0;
			position: relative;
		}
	}

	#intro2 {
		-webkit-transform: translateZ(0);
		background-color: rgba(144,41,121,1);
		.text {
			opacity: 0;
			top: 46%;
			left: 25%;
		}
	}

	#intro3 {
		-webkit-transform: translateZ(0);
		.text {
			top: 46%;
			text-align: center;
			width: 100%;
			opacity: 0;
			font-family: $font-primary;
			font-weight: 400; 
			font-style: normal;
			font-size: 1.5rem;
		}
	}

	#intro4 {
		-webkit-transform: translateZ(0);
		.text {
			top: 46%;
			text-align: center;
			width: 100%;
			opacity: 0;
			font-family: $font-primary;
			font-weight: 400; 
			font-style: normal;
			font-size: 1.5rem;
		}
	}

	#intro5 {
		-webkit-transform: translateZ(0);
		.text {
			top: 46%;
			text-align: center;
			width: 100%;
			opacity: 0;
			font-family: $font-primary;
			font-weight: 400; 
			font-style: normal;
			font-size: 1.5rem;
		}
	}

	#intro6 {
		-webkit-transform: translateZ(0);
		.text {
			top: 46%;
			text-align: center;
			width: 100%;
			opacity: 0;
			font-family: $font-primary;
			font-weight: 400; 
			font-style: normal;
			font-size: 1.5rem;
		}
		.text2 {
			line-height: 2.3rem;
			i {
				font-style: italic;
			}
		}
	}

	#intro7 {
		-webkit-transform: translateZ(0);
		.text {
			top: 46%;
			text-align: center;
			width: 100%;
			opacity: 0;
			font-family: $font-primary;
			font-weight: 800; 
			font-style: normal;
			font-size: 3.5em;
		}
	}

	#intro8 {
		-webkit-transform: translateZ(0);
		.text {
			top: 46%;
			text-align: center;
			width: 100%;
			opacity: 0;
			font-family: $font-primary;
			font-weight: 800; 
			font-style: normal;
			font-size: 3.5em;
		}
	}

	#intro9 {
		-webkit-transform: translateZ(0);
		.text {
			top: 46%;
			text-align: center;
			width: 100%;
			opacity: 0;
			font-family: $font-primary;
			font-weight: 800; 
			font-style: normal;
			font-size: 3.5em;
		}
	}

	.zoomSpan {
		position: absolute;
		width: 100%;
		height: 100%;
		display: inline;
	}

}//#intro



