//=> HTML relation
//=>  /inc/help.html

// -- Help screen ( aka tips and tricks ) --------------------
[feature-tour] {
  width: 690px;
  margin: 0 auto;
  line-height: 1.8em;
  h1 {
    font-size: 3em;
    line-height: 1.1em;
  }
  h2 {
    font-size: 2em;
    line-height: 1.1em;
  }
  h3 {
    clear: both;
    font-weight: bold;
    color: #BD5521;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  p {
    width: 500px;
  }
  img {
    float: right;
    padding: 0 0 20px 20px;
    margin-top: -20px;
  }
}

[feature-tour] > section {
  padding: 10px 0;
  clear: both;
}

[feature-tour-intro] h1 {
  text-align: center;
}

